# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Database
*.db

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# test coverage
htmlcov/
.coverage